:root{
    --branco:white;
    --preto:black;
}
body, html {
    padding: 0;
    margin: 0;
}

/* GRELHA */

* {
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-gap: 30px;
    grid-auto-flow: column;
    grid-auto-columns: calc(100vw / 20);
    grid-auto-rows: calc(100vh / 20);
}
.capa{
    background-color:black;
    height:98.1vh;
}

.capa h1{
    font-size: 5vw;
    margin-top: 49vh;
    text-align: center;
    margin-left: 50vw;
    transform: translateX(-50%);
    color:white;
    font-family:"Georgia", serif;
}
.capa h2{
    position:sticky;
    left:0;
    text-align: center;
    margin-left: 50vw;
    transform: translateX(-50%);
    color:var(--branco);
    font-family:"Georgia", serif;

}
/* width */
::-webkit-scrollbar {
    width: 5px;

}

/* Track */
::-webkit-scrollbar-track {
    background: black;
    margin-top:0;
    width:5px;

}

::-webkit-scrollbar-track-piece {
    background: white;
    margin-right: 5px;
    width: 2px;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
}
