body, html {
    padding: 0;
    margin: 0;
}

/* GRELHA */

* {
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-gap: 30px;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 20);
}
