/* GERAL */

:root {
    --branco: white;
    --preto: black;
    --bege: #FDF9EA;
}

body, html {
    padding: 0;
    margin: 0;
    min-height: 100%;
}

img {
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scene img {
    opacity: 0;
    transition: opacity 1s;
}

.scene img.is-showing {
    opacity: 1;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;

}

.imagemcapa {
    opacity: 0;
    transition: 0.5s;
}

.imagemcapa:hover {
    opacity: 1;
}

.russia_moscovo {
    opacity: 0;
}

/* Scroll Bar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: black;
    margin-top: 0;
    width: 5px;
}

::-webkit-scrollbar-track-piece {
    background: white;
    margin-right: 5px;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: black;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}

/* GRELHA */

* {
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100vw / 20);
    grid-auto-rows: calc(100vh / 20);
    grid-gap: calc(100vw / 75);
    font-family: "Georgia", serif;
    font-size: 1.5rem;
    text-align: left;
}

.sub-wrapper {
    grid-row: 8 / span 20;
}

/*Colunas*/

.ocupa-2-coluna {
    grid-column: span 2;
}

.ocupa-3-coluna {
    grid-column: span 3;
}

.ocupa-4-coluna {
    grid-column: span 4;
}

.ocupa-5-coluna {
    grid-column: span 5;
}

.ocupa-6-coluna {
    grid-column: span 6;
}

.ocupa-7-coluna {
    grid-column: span 7;
}

.ocupa-8-coluna {
    grid-column: span 8;
}

.ocupa-9-coluna {
    grid-column: span 9;
}

.ocupa-10-coluna {
    grid-column: span 10;
}

.ocupa-11-coluna {
    grid-column: span 11;
}

.ocupa-12-coluna {
    grid-column: span 12;
}

.ocupa-13-coluna {
    grid-column: span 13;
}

.ocupa-14-coluna {
    grid-column: span 14;
}

.ocupa-15-coluna {
    grid-column: span 15;
}

.ocupa-16-coluna {
    grid-column: span 16;
}

/*Linhas*/

.ocupa-2-linha {
    grid-row: span 2;
}

.ocupa-3-linha {
    grid-row: span 3;
}

.ocupa-4-linha {
    grid-row: span 4;
}

.ocupa-5-linha {
    grid-row: span 5;
}

.ocupa-6-linha {
    grid-row: span 6;
}

.ocupa-7-linha {
    grid-row: span 7;
}

.ocupa-8-linha {
    grid-row: span 8;
}

.ocupa-9-linha {
    grid-row: span 9;
}

.ocupa-10-linha {
    grid-row: span 10;
}

.ocupa-11-linha {
    grid-row: span 11;
}

.ocupa-12-linha {
    grid-row: span 12;
}

.ocupa-13-linha {
    grid-row: span 13;
}

.ocupa-14-linha {
    grid-row: span 14;
}

.ocupa-15-linha {
    grid-row: span 15;
}

.ocupa-16-linha {
    grid-row: span 16;
}

/* NAVEGAÇÃO */

nav {
    position: fixed;
    bottom: 3vh;
    margin-left: 50vw;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 18pt;
    opacity: 0;

    color: grey;
}

nav:hover {
    opacity: 1;
}

nav div {
    display: inline-block;
    text-decoration: line-through;
    margin-left: 20px;
}

nav .botao-mostrar {
    margin-left: 0;
}

nav .itens {
    display: none;
    margin-left: 0;
}

nav .itens.show {
    display: inline-block;
}

/* CAPA */

.capa {
    background-color: black;
    height: 100%;
}

.capa h1 {
    font-size: 5vw;
    margin-top: 75vh;
    text-align: center;
    margin-left: 50vw;
    transform: translateX(-50%);
    color: white;
    font-family: "Georgia", serif;
}

.capa h2 {
    position: sticky;
    left: 0;
    text-align: center;
    margin-left: 50vw;
    transform: translateX(-50%);
    color: white;
    font-family: "Georgia", serif;
}

/* PÁGINAS*/

/*Diário*/

.diario {
    background-color: var(--bege);
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: -3;
}

/*Text Corrido*/

.sub-wrapper div:nth-child(2) h1 {
    font-size: 4rem;
    margin: 0;
}

#pensador {
    margin-left: 18vw;
}

#carta {
    margin-top: -10vw;
    margin-left: -40vw;
}

#Aborrecmento {
    font-size: 180px;
    font-weight: bold;
}

.textoContraCapa {
    font-family: "Georgia", serif;
    font-size: 20px;
    color: white;
    padding: 30px;
}

.textoContraCapa > .negrito {
    font-weight: bold;
}

/* Página 5 */

#evolucao-1 {
    opacity: 0;
    animation: showEvolution;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#evolucao-2 {
    opacity: 0;
    animation-name: showEvolution;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#evolucao-3 {
    opacity: 0;
    animation-name: showEvolution;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#evolucao-4 {
    opacity: 0;
    animation-name: showEvolution;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#evolucao-5 {
    opacity: 0;
    animation-name: showEvolution;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes showEvolution {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.familia img {
    width: 50%;
}

.familia {
    grid-column: 8 / span 10;
}

.familia img:hover {

}

@keyframes grow {
    from {
        width: 50%;
    }

    to {
        width: 100%;
        transform: translateX(-50%);
    }
}

@keyframes shrink {
    from {
        width: 100%;
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
        width: 50%;
    }
}


/* Página 6 */

#fumo path:first-child {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: 30s off-zero infinite linear reverse;
}

#fumo path:nth-child(2) {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: 10s off-zero infinite linear reverse;
}

#fumo path:last-child {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: 20s off-zero infinite linear reverse;
}


@keyframes off-zero {
    to {
        stroke-dashoffset: 0;
    }
}

#fotoSociedadeVpaisagem {
    margin-top: -20vw;
    margin-left: -50vw;
}

.data h1 {
    font-size: 20vw;
    margin: 0;
}

canvas #defaultCanvas0 {
    margin-top: 20vw;
}

#caezinhos {

    animation-duration: 3s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes descer {

    to {
        transform: translate3d(-40px, 200px, -100px)
    }


}

@keyframes subir {
    from {

        transform: translate3d(-40px, 200px, -100px)
    }

    to {
        transform: translate3d(0px, 0px, 0px);
    }


}


#BabyChekhov{


    animation-duration: 3s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}

@keyframes subirbaby {

  to {
        transform: translate3d(-40px, -400px, 100px)
    }


}

@keyframes descerbaby {
    from {

        transform: translate3d(-40px, -400px,100px);
    }

    to {
        transform: translate3d(0px, 0px, 0px);
    }


}





