
.idea/workspace.xml
workspace.idea/.xml
.idea/workspace.xml___jb_old___
.idea/workspace.xml___jb_tmp___

.idea/deployment.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Projeto-P3AM.iml
.idea/vcs.xml
.idea/webServers.xml
